/* Style for the page header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .logo img {
    border-radius: 50%;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
  }
  
  .nav-list li {
    list-style: none;
    padding: 0 20px;
  }
  
  .nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .nav-list li a:hover {
    color: grey;
  }
  
  .rightNav {
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }
  
  .rightNav a {
    margin-left: 25px;
    text-decoration: none;
    color: rgb(241, 46, 46);
  }
  
  /* Style for the page title */
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 50px;
  }
  
  /* Style for the table */
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Style for the out of stock status */
  td:last-child {
    font-weight: bold;
    color: red;
  }