*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.container{

    width: 100%;
    height: 100dvh;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    
}

.header{
    width: 100%;
    height: 10dvh;
    height: 10vh;
    background-color: rgb(255, 255, 255);
}


.content{

    width:100%;
    height: 90dvh;
    background-image: linear-gradient(180deg,rgb(91, 41, 41), rgb(0, 0, 0));
    display: flex;
    


}

.cont{
    /* background: purple; */
    flex-grow: 1;
    height: 90dvh;
    height: 90vh;
    

}


.leftside{

    flex-shrink: 1;
    flex-grow: 1;
}

.rightside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-width: 500px;
    flex-shrink: 0;
    flex-basis: 250px;
}
.grid-item{

    width: 300px;
    transition: 0.2s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-shadow: 5px 5px 4px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    

     
   

}

.grid-item:hover{
    box-shadow:1px 1px 10px 2px white inset;
    font-size: 20px;
    text-shadow: 10px 10px 5px rgb(61, 61, 61);

}


.rightside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px,auto);
    
   
    
}

@media (max-width:1200px){
    .rightside{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:700px){

    .content{
        flex-direction: column;
        
    }
  
}

/* grid-item */

.grid-item-1{
    background-image: url(profile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center ;
    background-position-y: center;
    
}

.grid-item-2{
    background-image: url(Chat\ system.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center ;
    background-position-y: center;

}
.grid-item-3{
    background-image: url(INVENTORY\ TRACKING\ .jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center ;
    background-position-y: center;

}
.grid-item-4{
    background-image: url(Delivery\ 1.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    background-position-y: center;
    
    
    

}
.grid-item-5{
    background-image: url(Payment\ .jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center ;
    background-position-y: center;

}
.grid-item-6{
    background-image: url(Delivery2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center ;
    background-position-y: center;
    

}
/* grid item end */


.leftside{

    background-image: url(pot.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:right ;
    background-position-y:bottom;
    
    
}

/* menu button */
.menu{
   
   background-color: orange;
   width:70px;
   height: 30px;
   margin: 10px;
   border-radius: 10px;
   
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight:bold;
   transition: 0.1s;
   cursor: pointer;
   
}

.menu:hover{

    height: 32px;
    box-shadow: 0px  0px 10px rgb(44, 29, 2);
    
}

a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 10px;
    line-height: 50px;
    color: white;

    
}
a:hover{
    text-shadow:0px 0px 5px white;
}
.drop{
    margin-left: 10px;
    background: rgba(0,0, 0, 0.5);
    width: fit-content;
    border-radius: 10px;
    display: none;
    position: fixed;
    
}




/* header */
.header{
    
    display: flex;
    flex-wrap: warp;
    
    

}
 
.head-left{
    width: 50vw;
    /* background-color: rgb(238, 238, 238); */
    display: flex;

}
.head-right{
    width: 50vw;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    justify-content: flex-end;
}

.logo{
    /* background-color: rgba(140, 140, 140, 0.988); */
    width: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  
    

}
.img-container{
    
    width: 100%;
    
    
}


    
    
    

.bar{
 
    background-color: blue;
    width:5px;
    margin: 5px;
    border-radius: 10px;
    flex-shrink: 0;
    

}

.text-content{
    /* background-color: violet; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    
}





  
     
    
    


@media (max-width:700px){
    .text-content{
    
        display: none;
    }
    .bar{
        display: none;

    }
    
   
        
}



#search-input{
    font-size: larger;
    
    margin: 13px;
    height: 50px;
    width: 150px;
    min-width: 100px;
}

input{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.1s;
    
}
input:hover{

    border-bottom:  2px  solid black;
}


#s-btn{
    width: fit-content;
    padding: 10px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    font-size: large;
    transition: 0.1s;
    margin:5px;
    margin-top: 10px;
    
}

#s-btn:hover{
    background:rgba(0,0, 0, 0.5) ;
    color: white;
    text-shadow: 0px 0px 3px white;
}



button{
    background:none;
    border: none;
}









.dropdown{
    min-width: 150px;
    position: relative;
    margin-top: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
   

}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background:rgba(0,0, 0, 0.5);
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:2px #ffffff solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition:  0.3s;
}
.select-cilcked{
    border:2px navy solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background: #323741;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;

}

.caret-rotate{
    transform: rotate(180deg);
}

.menuu{
    list-style: none;
    padding: 0.2em 0.em;
    background: #323741;
    border: 1px #363a43;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;

}

.menuu li{
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor:pointer;

}

.menuu li:hover{
    background: #2a2d35;
}

.active{
    background: #23242a;
}

.menu-open{
    display: block;
    opacity: 1;
}